.header{
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: #087792;
    color: #087792;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

.h1{
    color: #fff;
  }
.button {
    font: inherit;
    border: 1px solid #f6dbfc;
    background: #087792;
    color: white;
    padding: 0.65rem 3.5rem;
    cursor: pointer;
    font-size: 1.0rem;
    border-radius: 30px;
  }
  
  .button:hover,
  .button:active {
    background: #087792;
    border-color: #087792;
  }
  
  .button:focus {
    outline: none;
  }
