.login {
    height: 100;
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    
  }
  
  .control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .control label,
  .control input {
    display: block;
  }
  
  .control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
  }
  
  .control.invalid input {
    border-color: red;
    background: #fbdada;
  }
  
  .actions {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
  }
  .h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #ddd;
  }
  .main-image {
    width: 100%;
    height: 26rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    transform: rotateZ(-3deg) translateY(-5rem) translateX(-5rem);
  }
  